/* Add your styles here */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 16px;
  --far-background-color: #cccccc;
  --close-background-color: #eeeeee;
  --text-on-primary-color: #eeeeee;
  --primary-color: #020100;
  --secondary-color: #801a86;
  --accent-color: #e768f3;
}
body {
  background-color: var(--far-background-color);
  font-family: 'Space Grotesk', sans-serif;
    background-image: url('./images/dobby310-cheese-877866_1280.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  background-color: var(--primary-color);
  padding: 0 2rem 1rem 2rem;
}
nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "home menu logo logo cheese contact";
  gap: 2rem;
}
nav .header-link {
  color: var(--text-on-primary-color);
  font-size: 2rem;
  text-decoration: none;
  align-self: end;
  cursor: pointer;
  -webkit-user-select: none;
}
nav .header-link:nth-of-type(1),
nav .header-link:nth-of-type(2),
nav .header-link:nth-of-type(3){
  justify-self: start;
}
nav .header-link:nth-of-type(4),
nav .header-link:nth-of-type(5),
nav .header-link:nth-of-type(6){
  justify-self: end;
}
nav .header-link:nth-of-type(1) {
  grid-area: home;
  }
nav .header-link:nth-of-type(2) {
  grid-area: menu;
  }

nav .header-logo {
  grid-area: logo;
  align-self: baseline;
  justify-self: center;
  font-size: 3rem;
  color: var(--text-on-primary-color)
}
nav .header-link:nth-of-type(3){
  grid-area: cheese;
}
nav .header-link:nth-of-type(4){
  grid-area: contact;
}

header{
  grid-row:1/2;
  min-height: 10%;
  max-height: max-content;
}
#content {
  grid-row: 2/3;
  min-height: 60%;
  max-height: max-content;
}
.footer {
  grid-row: 3/4;
  min-height: 10%;
  max-height: max-content;
  align-self: end;
}
.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "welcome-message welcome-message" "left-content locations";
}
.welcome-message {
  grid-area: welcome-message;
  background-color: var(--close-background-color);
  padding: 2rem;
  margin: 2rem;
  align-self: center;
}
.main-content .left-content {
  display: flex;
  flex-direction: column;
  background-color: var(--close-background-color);
  padding: 2rem;
  margin: 2rem;
  grid-area: left-content;
  justify-self: start;
  gap:3rem;
}
.left-content p{
  font-size: 1.5rem;
  padding: 10px;
  border-bottom: #020100 solid 2px;
}
.left-content p:last-child{
  border-bottom: none;
}
.main-content .locations {
  display: flex;
  flex-direction: column;
  background-color: var(--close-background-color);
  padding: 2rem;
  grid-area: locations;
  justify-self: end;
  margin: 2rem;
  width:80%
}
.main-content .locations .location {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 2rem;
  flex: 1;
  gap: 1rem;
  border-bottom: #020100 solid 2px;
}
.main-content .locations .location:last-child {
  border-bottom: none;
}
.main-content .locations .location .image-container img 
{
  border: 5px solid white;
  width: 300px;
  height: 400px;
  object-fit: cover;}

.footer {
  grid-row: 3/4;
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  display: flex;
  align-items: center;
}
.footer .important-footer-information {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 2rem;
  align-items: center;
}
.footer .footer-logo {
  align-self: end;
  font-size: 5rem;
  margin-left: 2rem;
}

.menu{
  display:flex ;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem;  
  background-color: var(--close-background-color);
  width: 50%;
  justify-self: center;
  align-self: center;
  margin: 3rem;
}

.name-and-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name-and-details .details{
  grid-column:2/3;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
}   
.name-and-details h2{
  grid-column: 1/2;
}
.menu-item p{
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: #020100 solid 1px;
}


.contact-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--close-background-color);
  width: 50%;
  padding: 2rem;
  margin: 3rem auto;
}